<nav class="nav" >
      <a href="{{ "/" | relURL }}" class="nav-logo">
        <img src="{{ print "media/" .Site.Params.logo.url | relURL }}"
         width="{{ .Site.Params.logo.width }}"
         height="{{ .Site.Params.logo.height }}"
         alt="{{ .Site.Params.logo.alt }}">
      </a>

      <ul class="nav-links" >
       {{ $currentPage := . }}
       {{ $section := replaceRE "^/([^/]+)/.*" "$1" .Permalink }}
       {{ range (default .Site.Menus.main (index .Site.Menus $section)) }}
       <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
       {{ end }}
      </ul>
</nav>